@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
*{
    font-family:  'Poppins',sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
/* body{
    background-color: rgb(200, 249, 131);
}  */
.navbar{
    padding: .8rem; 
    background-image: url('bg1.webp');
  }
  nav ul li a:hover{
      background:#cff592;
      border-radius: 20px;
  }
  .navbar-nav li{
  padding-right: 30 px;
  
  }
  .nav-link {
    font-size:  1.1em !important;
    
  } 
.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.container .heading{
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(215, 103, 4);
}
.container .box-container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
gap:20px;
}

.container .box-container .box{
    margin-bottom: 20px;
    overflow: hidden;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    background-image: url('bg1.webp');
}
.container .box-container .box .image{
    margin-bottom: 20px;
    overflow: hidden;
    height: 300px;
    border-radius: 5px;
   

}
.container .box-container .box .image img{
height: 100%;
width: 100%;
object-fit: cover;
}
.container .box-container .box:hover .image img{
    transform: scale(1.1);
}
.container .box-container .box .content h3{
    font-size: 20px;
    color: rgb(8, 168, 227);
    line-height: 2;
    padding: 15px 0;
}
.container .box-container .box .content btn{
    display: inline-block;
    padding:10px 30px ;
    border: 1px solid gray;
    color:gray;
    font-size: 16px;
}
